*{
    margin:0;
    padding:0;
    list-style:none;
  }
.header{
    width:100%;
    background-color: rgb(255, 255, 255);
    box-shadow:0 0 10px gray;
    position:fixed;
    z-index:5;
    top:0;
    left:0;
}
.header .main-header{
    width:85%;
    display:flex;
    margin:auto;
    align-items: center;
    justify-content: space-between;
    padding:3px 0;
}
.header .website-logo{
    display:flex;
    align-items: center;
}
.header .logo img{
    vertical-align: top;
    width:60px;
}
.header .logo-text img{
    width:100px;
}
.header h1{
    position:fixed;
    top:0;
    left:-10000px;
}
.header nav ul{
    display:flex;
    margin: auto;
    box-sizing: border-box;
}
.header nav a{
    text-decoration: none;
    color:#000465;
    margin:0px 30px;
    font-size:1.05rem;
    padding:5px 10px;
}

.header nav ul li :hover{
    border-bottom: 1px solid #000465;
}
.banner{
    position:relative;
}
.banner img{
    width:100%;
}
.banner p{
    color:white;
    font-size:50px;
    text-shadow:0 3px 3px rgba(48, 48, 48, 0.7);
    position:absolute;
    top:480px;
    left:120px;
}
.title{
    display:flex;
    flex-direction: column;
    margin:70px 0 70px 0;
    background-image: url(SOpics/goldline.png);
}
.title h2{
    text-align: center;
    font-size:30px;
    color:#000465;
}
.title p{
    text-align: center;
    color:#D0C4A4;
    margin:3px;
}
.story{
    width:78%;
    display:flex;
    margin: auto;
    justify-content: center;
    background-image: url(./SOpics/aerial-view-beach.jpg);
    border-radius: 50px;
}
.story .text{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50px;;
    margin:6em 11em;
    line-height: 1.8;
}
.story .text p{
    color:#000465;
    padding:75px;
    font-size:17px;
    text-shadow:1px 1px 2px rgba(255, 255, 255, 0.9);
}
.title-two{
    display:flex;
    flex-direction: column;
    margin:70px 0 70px 0;
    background-image: url(SOpics/goldlineleft.png);
}
.title-two h2{
    text-align: center;
    font-size:30px;
    color:#000465;
}
.title-two p{
    text-align: center;
    color:#D0C4A4;
    margin:3px;
}
.news{
    display:flex;
    margin:auto;
    justify-content: center;
    align-items: center;
}
.news .main-item{
    width:45%;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-right:20px;
    border:3px solid #D0C4A4;
    cursor: pointer;
}
.news .main-item h3{
    font-size:20px;
    padding:25px 10px;
    color: rgb(0,4,101,.9);
}
.news .main-item p{
    font-size:17px;
    padding:0 0 20px 10px;
    color: rgb(0,4,101,.9);
    line-height: 1.5;
}
.news .main-item span{
    padding:0px 0 20px 10px;
    color: rgb(0,4,101,.9);
}
.new .main-item img{
    width:100%;
    vertical-align: bottom;
}
.news .wrap{
    width:25%;
    display:flex;
    flex-direction: column;
    margin-bottom:50px;
}
.news .wrap .item{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    margin:20px;
    border:2px solid #D0C4A4;
    cursor: pointer;
}
.news .wrap .item img{
    width:100%;
    vertical-align: bottom;
}
.news .wrap .item h4{
    font-size:17px;
    padding:12px 5px;
    color: rgb(0,4,101,.9);
}
.news .wrap .item p{
    font-size:14px;
    padding:0 0 12px 5px;
    color: rgb(0,4,101,.9);
    line-height: 1.2;
}
.news .wrap .item span{
    padding:0px 0 12px 5px;
    color: rgb(0,4,101,.9);
    font-size:13px;
}
.title-three{
    display:flex;
    flex-direction: column;
    margin:70px 0 70px 0;
    background-image: url(SOpics/goldline.png);
}
.title-three h2{
    text-align: center;
    font-size:30px;
    color:#000465;
}
.title-three p{
    text-align: center;
    color:#D0C4A4;
    margin:3px;
}
.eco{
    display:flex;
    margin:auto;
    justify-content: center;
    width:100%;
    margin-bottom:50px;
}
.eco .text{
    width:35%;
    display:flex;
    flex-direction: column;
}
.eco .text p{
    font-size:1.2em;
    color: rgb(0,4,101,.9);
    padding:20px;
    border-bottom: 1px solid #D0C4A4;
    line-height: 1.5;
    }
.eco .text ul{
    padding:20px;
    color:#D0C4A4;
    font-size:1.1em;
    line-height: 2;
}
.eco .pic{
    width:40%;
    margin:20px;
}
.eco .pic img{
    width:100%;
    border-radius: 20px;
    box-shadow: 2px 2px 8px gray;
}
.footer{
    width:100%;
    background-color: #B4A889;
}
.footer .contact{
    display:flex;
    margin: auto;
    justify-content: center;
    gap:6em;
    padding-top:50px;
}
.footer .contact .address{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.footer .contact .map{
    margin-bottom: 50px;
    align-items: center;
}
.footer .address p{
    color:#000465;
}
.footer .contact .icon{
    display:flex;
    justify-content:space-evenly;
    width:400px;
}
.footer .contact .icon img{
    margin:5px 15px;
    height:30px;
    cursor: pointer;
}
.footer .privacy{
    display:flex;
    flex-direction: column;
    margin: auto;
    border-top: 1px solid #79705a;
}
.footer .privacy p{
    font-size: 13px;
    text-align: center;
    color:#79705a;
    margin:10px 0 0 0;
}