*{
    margin:0;
    padding:0;
    list-style:none;
  }
.header{
    width:100%;
    background-color: rgb(255, 255, 255);
    box-shadow:0 0 10px gray;
    position:fixed;
    z-index:5;
    top:0;
    left:0;
}
.header .main-header{
    width:85%;
    display:flex;
    margin:auto;
    align-items: center;
    justify-content: space-between;
    padding:3px 0;
}
.header .website-logo{
    display:flex;
    align-items: center;
}
.header .logo img{
    vertical-align: top;
    width:60px;
}
.header .logo-text img{
    width:100px;
}
.header h1{
    position:fixed;
    top:0;
    left:-10000px;
}
.header nav ul{
    display:flex;
    margin: auto;
    box-sizing: border-box;
}
.header nav a{
    text-decoration: none;
    color:#000465;
    margin:0px 30px;
    font-size:1.05rem;
    padding:5px 10px;
}

.header nav ul li :hover{
    border-bottom: 1px solid #000465;
}
.banner{
    position:relative;
}
.banner img{
    width:100%;
}
.banner p{
    color:white;
    font-size:50px;
    text-shadow:0 3px 3px rgba(48, 48, 48, 0.7);
    position:absolute;
    top:480px;
    left:120px;
}
.title{
    display:flex;
    flex-direction: column;
    margin:70px 0 70px 0;
    background-image: url(SOpics/goldline.png);
}
.title h2{
    text-align: center;
    font-size:30px;
    color:#000465;
}
.title p{
    text-align: center;
    color:#D0C4A4;
    margin:3px;
}
.selection{
    display:flex;
    margin: auto;
    justify-content:center;
    width:100%;
    margin-top:80px;
    margin-bottom:200px;
    gap:50px;
}
.selection .item{
    position:relative;
}
.selection .item :hover{
    opacity:1;
    cursor: pointer;
}
.selection .item img{
    opacity: .6;
}
.selection .item .text{
    position:absolute;
    margin:-300px 0 0 60px;
    font-size:40px;
    color:#000465;
    text-shadow:3px 2px 1px #D0C4A4;
    pointer-events: none;
}
.event{
    display:flex;
    margin:auto;
    justify-content: center;
    width:100%;
    background-image: url(SOpics/backpic.png);
    margin-bottom:100px;
}
.event .pic{
    display:flex;
    flex-direction: column;
    margin:auto;
    justify-content: center;
    width:50%;
}
.event .pic img{
    border-radius: 50%;
    border:4px solid #D0C4A4;
}
.event .pic .slider{
    display:flex;
    margin:auto;
    justify-content: space-evenly;
    margin:15px 20px;
}
.event .pic .slider img{
    width:30%;
    border:2px solid #D0C4A4;
    cursor: pointer;
}
.event .description{
    display:flex;
    flex-direction: column;
    margin:auto;
    width:37%;
    background-color:#000465;
    color:rgb(255, 255, 255, 0.9);
    line-height: 1.5;
    border-radius: 100px;;
}
.event .text{
    padding:45px;
}
.event .description h3{
    font-size:25px;
    text-align: center;
    color:#D0C4A4;
    margin:20px;
}
.event .resign a{
    background-color:#FFBA09;
    color:#000465;
    font-size:15px;
    text-decoration: none;
    padding:5px;
    border-radius: 30px;
    display:block;
    width:15%;
    text-align: center;
    margin:30px 0 0 350px;
}
.footer{
    width:100%;
    background-color: #B4A889;
}
.footer .contact{
    display:flex;
    margin: auto;
    justify-content: center;
    gap:6em;
    padding-top:50px;
}
.footer .contact .address{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.footer .contact .map{
    margin-bottom: 50px;
    align-items: center;
}
.footer .address p{
    color:#000465;
}
.footer .contact .icon{
    display:flex;
    justify-content:space-evenly;
    width:400px;
}
.footer .contact .icon img{
    margin:5px 15px;
    height:30px;
    cursor: pointer;
}
.footer .privacy{
    display:flex;
    flex-direction: column;
    margin: auto;
    border-top: 1px solid #79705a;
}
.footer .privacy p{
    font-size: 13px;
    text-align: center;
    color:#79705a;
    margin:10px 0 0 0;
}